div{
    padding-left: 0px;
    padding-right: 0px; 
}

.container{
    margin: 0px;
    width:100%;
    height:100%;
}

.navbar{
    background-color:rgb(0,174,243);
    /* background-color: rgb(234,6,19); */
    border-radius: 0px;
    width: 100%;
    color: white;
}


.item .img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 200px;
} 

.footer {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    background-color:rgb(0,174,243);
    /* background-color: rgb(234,6,19); */
    color: white;
    padding-top: 15px; 
   
}

.navbar-header .nav-text{
    color: white;
}

.dropdown .dropdown-toggle .nav-text{
    color: white;
}


#leftNav{
    border-right-style: solid;
    height: 100%
}

.flex-column{
    width: 100px;
    border-right-style: solid;
    height: 100%
}

body{
    margin-bottom: 60px;
}

thead{
    background-color: lightgray;
}

li{
    margin-left: 50px;
}