<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Data Sets and Sources</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}"/>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container"> <!--Start main container-->

            <div class="row"> <!--Navbar row-->
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Bowl Center</a>
                      </div>
                  
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="#"></a></li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" aria-label="menu"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="/">Home</a></li>
                              <li><a href="/stats">Stats</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="/apiV1.0">API Docs</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>
            </div> <!--End Navbar row-->

            <div class="row"> <!--Content row-->
                <div class="col-md-1" id="leftNav"> <!--Left nav-->
                  <nav class="nav flex-column">
                      <a class="nav-link active" href="/apiV1.0">About API</a><br/>
                      <a class="nav-link" href="/apiV1.0/extract">ETL Process</a><br/>
                      <a class="nav-link" href="/apiV1.0/data">Data</a><br/>
                  </nav>
                </div> <!--End Left Nav col div-->
                <div class="col-md-10"> <!--Content-->
                    <h2>Raw Data Samples</h2>
                    <br>
                    <div class="table-responsive"><h3>Games Stats (.csv)</h3>
                        <span> 
                                    <table class="table table-hover table-condensed">
                                        <thead><tr><th title="Field #1">Year</th>
                                        <th title="Field #2">Attendance</th>
                                        <th title="Field #3">Host</th>
                                        <th title="Field #4">Away Team</th>
                                        <th title="Field #5">Home Team</th>
                                        <th title="Field #6">Bowl</th>
                                        <th title="Field #7">id</th>
                                        <th title="Field #8">Home Bowl Scores</th>
                                        <th title="Field #9">Away Bowl Scores</th>
                                        <th title="Field #10">Home Season Wins</th>
                                        <th title="Field #11">Home Season Losses</th>
                                        <th title="Field #12">Away Season Wins</th>
                                        <th title="Field #13">Away Season Losses</th>
                                        <th title="Field #14">Home Win</th>
                                        <th title="Field #15">Winning Team</th>
                                        <th title="Field #16">Losing Team</th>
                                        <th title="Field #17">Winning Percentage</th>
                                        <th title="Field #18">Had Zero Score</th>
                                        <th title="Field #19">Sum Of Points</th>
                                        </tr></thead>
                                        <tbody><tr>
                                        <td align="right">2001</td>
                                        <td align="right">40139</td>
                                        <td>Marshall Thundering Herd</td>
                                        <td>East Carolina Pirates</td>
                                        <td>Marshall Thundering Herd</td>
                                        <td>GMAC Bowl</td>
                                        <td align="right">2885</td>
                                        <td align="right">64</td>
                                        <td align="right">61</td>
                                        <td align="right">11</td>
                                        <td align="right">2</td>
                                        <td align="right">6</td>
                                        <td align="right">6</td>
                                        <td>1</td>
                                        <td>Marshall Thundering Herd</td>
                                        <td>East Carolina Pirates</td>
                                        <td>85%</td>
                                        <td>FALSE</td>
                                        <td align="right">125</td>
                                        </tr>
                                        <tr>
                                        <td align="right">2011</td>
                                        <td align="right">65256</td>
                                        <td>Baylor Bears</td>
                                        <td>Washington Huskies</td>
                                        <td>Baylor Bears</td>
                                        <td>Alamo Bowl</td>
                                        <td align="right">17746</td>
                                        <td align="right">67</td>
                                        <td align="right">56</td>
                                        <td align="right">10</td>
                                        <td align="right">3</td>
                                        <td align="right">7</td>
                                        <td align="right">6</td>
                                        <td>1</td>
                                        <td>Baylor Bears</td>
                                        <td>Washington Huskies</td>
                                        <td>77%</td>
                                        <td>FALSE</td>
                                        <td align="right">123</td>
                                        </tr>
                                        <tr>
                                        <td align="right">2016</td>
                                        <td align="right">24975</td>
                                        <td>Colorado State Rams</td>
                                        <td>Idaho Vandals</td>
                                        <td>Colorado State Rams</td>
                                        <td>Idaho Potato Bowl</td>
                                        <td align="right">27073</td>
                                        <td align="right">50</td>
                                        <td align="right">61</td>
                                        <td align="right">7</td>
                                        <td align="right">6</td>
                                        <td align="right">9</td>
                                        <td align="right">4</td>
                                        <td>0</td>
                                        <td>Idaho Vandals</td>
                                        <td>Colorado State Rams</td>
                                        <td>69%</td>
                                        <td>FALSE</td>
                                        <td align="right">111</td>
                                        </tr>
                                        <tr>
                                        <td align="right">2015</td>
                                        <td align="right">36811</td>
                                        <td>Arkansas State Red Wolves</td>
                                        <td>Toledo Rockets</td>
                                        <td>Arkansas State Red Wolves</td>
                                        <td>GoDaddy Bowl</td>
                                        <td align="right">23972</td>
                                        <td align="right">44</td>
                                        <td align="right">63</td>
                                        <td align="right">7</td>
                                        <td align="right">6</td>
                                        <td align="right">9</td>
                                        <td align="right">4</td>
                                        <td>0</td>
                                        <td>Toledo Rockets</td>
                                        <td>Arkansas State Red Wolves</td>
                                        <td>69%</td>
                                        <td>FALSE</td>
                                        <td align="right">107</td>
                                        </tr>
                                        <tr>
                                        <td align="right">2015</td>
                                        <td align="right">31289</td>
                                        <td>Virginia Tech Hokies</td>
                                        <td>Tulsa Golden Hurricane</td>
                                        <td>Virginia Tech Hokies</td>
                                        <td>Independence Bowl</td>
                                        <td align="right">25533</td>
                                        <td align="right">55</td>
                                        <td align="right">52</td>
                                        <td align="right">7</td>
                                        <td align="right">6</td>
                                        <td align="right">6</td>
                                        <td align="right">7</td>
                                        <td>1</td>
                                        <td>Virginia Tech Hokies</td>
                                        <td>Tulsa Golden Hurricane</td>
                                        <td>54%</td>
                                        <td>FALSE</td>
                                        <td align="right">107</td>
                                        </tr>
                                        <tr>
                                        <td align="right">2014</td>
                                        <td align="right">20761</td>
                                        <td>Memphis Tigers</td>
                                        <td>BYU Cougars</td>
                                        <td>Memphis Tigers</td>
                                        <td>Miami Beach Bowl</td>
                                        <td align="right">23939</td>
                                        <td align="right">55</td>
                                        <td align="right">48</td>
                                        <td align="right">10</td>
                                        <td align="right">3</td>
                                        <td align="right">8</td>
                                        <td align="right">5</td>
                                        <td>1</td>
                                        <td>Memphis Tigers</td>
                                        <td>BYU Cougars</td>
                                        <td>77%</td>
                                        <td>FALSE</td>
                                        <td align="right">103</td>
                                        </tr>
                                        <tr>
                                        <td align="right">2012</td>
                                        <td align="right">67563</td>
                                        <td>Clemson Tigers</td>
                                        <td>West Virginia Mountaineers</td>
                                        <td>Clemson Tigers</td>
                                        <td>Orange Bowl</td>
                                        <td align="right">17763</td>
                                        <td align="right">33</td>
                                        <td align="right">70</td>
                                        <td align="right">10</td>
                                        <td align="right">4</td>
                                        <td align="right">10</td>
                                        <td align="right">3</td>
                                        <td>0</td>
                                        <td>West Virginia Mountaineers</td>
                                        <td>Clemson Tigers</td>
                                        <td>77%</td>
                                        <td>FALSE</td>
                                        <td align="right">103</td>
                                        </tr>
                                        <tr>
                                        <td align="right">2003</td>
                                        <td align="right">29005</td>
                                        <td>Hawaii Warriors</td>
                                        <td>Houston Cougars</td>
                                        <td>Hawaii Warriors</td>
                                        <td>Hawaii Bowl</td>
                                        <td align="right">5890</td>
                                        <td align="right">54</td>
                                        <td align="right">48</td>
                                        <td align="right">9</td>
                                        <td align="right">5</td>
                                        <td align="right">7</td>
                                        <td align="right">6</td>
                                        <td>1</td>
                                        <td>Hawaii Warriors</td>
                                        <td>Houston Cougars</td>
                                        <td>64%</td>
                                        <td>FALSE</td>
                                        <td align="right">102</td>
                                        </tr>
                                        <tr>
                                        <td align="right">2003</td>
                                        <td align="right">42364</td>
                                        <td>California Golden Bears</td>
                                        <td>Virginia Tech Hokies</td>
                                        <td>California Golden Bears</td>
                                        <td>Insight Bowl</td>
                                        <td align="right">5892</td>
                                        <td align="right">52</td>
                                        <td align="right">49</td>
                                        <td align="right">8</td>
                                        <td align="right">6</td>
                                        <td align="right">8</td>
                                        <td align="right">5</td>
                                        <td>1</td>
                                        <td>California Golden Bears</td>
                                        <td>Virginia Tech Hokies</td>
                                        <td>57%</td>
                                        <td>FALSE</td>
                                        <td align="right">101</td>
                                        </tr>
                                        <tr>
                                        <td align="right">2013</td>
                                        <td align="right">67946</td>
                                        <td>Texas A&amp;M Aggies</td>
                                        <td>Duke Blue Devils</td>
                                        <td>Texas A&amp;M Aggies</td>
                                        <td>Chick-fil-A Bowl</td>
                                        <td align="right">20823</td>
                                        <td align="right">52</td>
                                        <td align="right">48</td>
                                        <td align="right">9</td>
                                        <td align="right">4</td>
                                        <td align="right">10</td>
                                        <td align="right">4</td>
                                        <td>1</td>
                                        <td>Texas A&amp;M Aggies</td>
                                        <td>Duke Blue Devils</td>
                                        <td>69%</td>
                                        <td>FALSE</td>
                                        <td align="right">100</td>
                                        </tr>
                                        </tbody></table>
                        </span>
                    </div> 
                    <br>
                    <br>
                    <div class="table-responsive"><h3>Player Stats (.csv)</h3>
                        <span>
                            <table class="table table-hover table-condensed">
                                <thead><tr><th title="Field #1">GameId</th>
                                <th title="Field #2">team</th>
                                <th title="Field #3">player</th>
                                <th title="Field #4">Passing - Attempts</th>
                                <th title="Field #5">Passing - Completion Pct</th>
                                <th title="Field #6">Passing - Completions</th>
                                <th title="Field #7">Passing - Interceptions</th>
                                <th title="Field #8">Passing - Passing Touchdowns</th>
                                <th title="Field #9">Passing - Passing Yards</th>
                                <th title="Field #10">Passing - QB Rating</th>
                                <th title="Field #11">Rushing - Attempts</th>
                                <th title="Field #12">Rushing - Fumbles Lost</th>
                                <th title="Field #13">Rushing - Long</th>
                                <th title="Field #14">Rushing - Rushing Touchdowns</th>
                                <th title="Field #15">Rushing - Rushing Yards</th>
                                <th title="Field #16">Receiving - Long</th>
                                <th title="Field #17">Receiving - Receiving Touchdowns</th>
                                <th title="Field #18">Receiving - Receiving Yards</th>
                                <th title="Field #19">Receiving - Receptions</th>
                                <th title="Field #20">Kick Return - Kick Return Avg</th>
                                <th title="Field #21">Kick Return - Kick Return Long</th>
                                <th title="Field #22">Kick Return - Kick Return Touchdowns</th>
                                <th title="Field #23">Kick Return - Kick Return Yards</th>
                                <th title="Field #24">Kick Return - Kick Returns</th>
                                <th title="Field #25">Punt Return - Punt Return Avg</th>
                                <th title="Field #26">Punt Return - Punt Return Long</th>
                                <th title="Field #27">Punt Return - Punt Return Touchdowns</th>
                                <th title="Field #28">Punt Return - Punt Return Yards</th>
                                <th title="Field #29">Punt Return - Punt Returns</th>
                                <th title="Field #30">Kicking - FG Attempted</th>
                                <th title="Field #31">Kicking - FG Long</th>
                                <th title="Field #32">Kicking - FG Made</th>
                                <th title="Field #33">Kicking - FG Made Pct</th>
                                <th title="Field #34">Kicking - Kicking Points</th>
                                <th title="Field #35">Kicking - PAT Made</th>
                                <th title="Field #36">Punting - Punt Long</th>
                                <th title="Field #37">Punting - Punt Yards</th>
                                <th title="Field #38">Punting - Punt Yards Avg</th>
                                <th title="Field #39">Punting - Punts</th>
                                </tr></thead>
                                <tbody><tr>
                                <td align="right">27067</td>
                                <td>UTSA Roadrunners</td>
                                <td>Sturm</td>
                                <td align="right">26</td>
                                <td align="right">38.5</td>
                                <td align="right">10</td>
                                <td>1</td>
                                <td align="right">2</td>
                                <td align="right">118</td>
                                <td align="right">94.3</td>
                                <td align="right"></td>
                                <td> </td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                </tr>
                                <tr>
                                <td align="right">27067</td>
                                <td>New Mexico Lobos</td>
                                <td>Jordan</td>
                                <td align="right">4</td>
                                <td align="right">75</td>
                                <td align="right">3</td>
                                <td>0</td>
                                <td align="right">0</td>
                                <td align="right">77</td>
                                <td align="right">236.7</td>
                                <td align="right"></td>
                                <td> </td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                </tr>
                                <tr>
                                <td align="right">27067</td>
                                <td>New Mexico Lobos</td>
                                <td>Apodaca</td>
                                <td align="right">2</td>
                                <td align="right">0</td>
                                <td align="right">0</td>
                                <td>0</td>
                                <td align="right">0</td>
                                <td align="right">0</td>
                                <td align="right">0</td>
                                <td align="right"></td>
                                <td> </td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                </tr>
                                <tr>
                                <td align="right">27067</td>
                                <td>UTSA Roadrunners</td>
                                <td>Williams</td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td> </td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right">16</td>
                                <td>0</td>
                                <td align="right">38</td>
                                <td align="right">0</td>
                                <td align="right">125</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                </tr>
                                <tr>
                                <td align="right">27067</td>
                                <td>UTSA Roadrunners</td>
                                <td>Rhodes</td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td> </td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right">13</td>
                                <td>0</td>
                                <td align="right">23</td>
                                <td align="right">0</td>
                                <td align="right">71</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                </tr>
                                <tr>
                                <td align="right">27067</td>
                                <td>UTSA Roadrunners</td>
                                <td>Sturm</td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td> </td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right">9</td>
                                <td>0</td>
                                <td align="right">12</td>
                                <td align="right">0</td>
                                <td align="right">50</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                </tr>
                                <tr>
                                <td align="right">27067</td>
                                <td>New Mexico Lobos</td>
                                <td>Jordan</td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td> </td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right">13</td>
                                <td>0</td>
                                <td align="right">16</td>
                                <td align="right">0</td>
                                <td align="right">81</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                </tr>
                                <tr>
                                <td align="right">27067</td>
                                <td>New Mexico Lobos</td>
                                <td>McQuarley</td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td> </td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right">17</td>
                                <td>0</td>
                                <td align="right">17</td>
                                <td align="right">2</td>
                                <td align="right">68</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                </tr>
                                <tr>
                                <td align="right">27067</td>
                                <td>New Mexico Lobos</td>
                                <td>Gipson</td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td> </td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right">14</td>
                                <td>0</td>
                                <td align="right">27</td>
                                <td align="right">1</td>
                                <td align="right">60</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                </tr>
                                <tr>
                                <td align="right">27067</td>
                                <td>New Mexico Lobos</td>
                                <td>Owens</td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td> </td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right"></td>
                                <td align="right">3</td>
                                <td>0</td>
                                <td align="right">11</td>
                                <td align="right">0</td>
                                <td align="right">13</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                </tr>
                                </tbody></table>
                        </span>
                    </div>
                </div> <!--End Left Nav col div-->
            </div> <!--End Content panels row-->
            
            <div class="row text-center"> <!--Start footer row-->              
                <div class="footer navbar-fixed-bottom">Slack-Lackers (c) | UCF Data Boot Camp</div>                         
            </div><!--End footer row-->

        </div><!--End main container-->

                <!--Latest minified jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
